<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee list</title>
    <link rel="stylesheet" href="../../static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>
<h2>This is the records stored or saved about the company's employees data</h2>
<a href="{% url 'employee_form' %}"><button>Add new employee</button></a>
<table border="2" bgcolor="#d2691e">
    <thead>
    <tr>
        <td>Full Name</td>
        <td>Mobile</td>
        <td>Position</td>
        <td>Email</td>
    </tr>
    </thead>
    <tbody>
    {% for employee in employee_list %}
        <tr>
        <td>{{employee.fullname}}</td>
        <td>{{employee.mobile_no}}</td>
        <td>{{employee.position}}</td>
        <td>{{employee.email}}</td>
        <td>
            <a href="{% url 'employee_update' employee.id %}"><button>UPDATE</button></a>
            <a href="{% url 'employee_delete' employee.id %}"><button>DELETE</button></a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>